.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  


}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{  
  height: 110px;
}
.xxx{
  max-width: 500vh;
  margin-right: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.xxx1{
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  color: white;
}
.Chatbot{
  max-width: 500vh;
  margin-right: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  width: 1110px;
  height: 100px;
  left: 165px;
  top: 3098px;
}
.r2{
  position: absolute;
  margin-left: 150vh;  
  margin-top: 67.5vh;
}
.r1{
  position: absolute;
  margin-left: 140vh;  
  margin-top: 62.5vh;
}
.r3{
  position: absolute;
  margin-right: 140vh;  
  margin-top: 72.5vh;
}
.r4{
  position: absolute;
  margin-right: 130vh; 
  margin-left: 12.5vh; 
  margin-top: 70.5vh;
}
.Facebook{
transform: rotate(-5deg);
margin-top: 75vh;
margin-right: 75vh;
}
.Instagram{
  transform: rotate(-5deg);
  margin-top:-6vh;
  margin-right: 60vh;
}
.Twitter{
  transform: rotate(-5deg);
  margin-top:-6vh;
  margin-right: 45vh;
}
.Youtube{
  transform: rotate(-10deg);
  margin-top:-5vh;
  margin-right: 30vh;
}
.Vector{
  transform: rotate(-7.5deg);
  margin-top:-5.5vh;
  margin-right: 15vh;
}
.bip{
  transform: rotate(-5deg);
  margin-top:-5.5vh;
  margin-right: 0vh;
}
.social-media{
  margin-left: 175px;
}

